name: .NET 10 Console Build

permissions:
  contents: read

on:
  pull_request:
    branches: [ "master" ]
  workflow_dispatch: 

jobs:
  build:
    runs-on: self-hosted

    strategy:
      matrix:
        runtime: [win-x64, win-arm64, linux-x64, linux-arm64, osx-x64, osx-arm64]

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore
      run: dotnet restore

    - name: Publish
      run: >
        dotnet publish
        -c Release
        -r ${{ matrix.runtime }}
        --self-contained true
        -o publish/${{ matrix.runtime }}

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: TextAdventure-${{ matrix.runtime }}
        path: publish/${{ matrix.runtime }}
